<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Mission to Mars</h1>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><a/href="Scrape.html">Scrape New Data</a></button> 
      </div>
    </div>
    <div class="row">
      <h2>Latest Mars News</h2>
    </div>
    <div class="row"><h4>{{data.news_title}}</h4></div>   
    <div class="row"><p>{{data.news_p}}</p></div>   
    <div class="row">
        <div class="col-md-5">
            <h2>Featured Mars Image</h2>
            <!-- img_url -->
            <img src="{{data.featured_image}}" width="200" height="232" alt="..." class="img-main">
        </div>
        <div class="col-sm-4 col-md-2">
            <div class="card">
                <h5>Current Weather on Mars</h5>
                    <div class="row">
                        <p>mars_weather</p>
                    </div>
            </div>
    <div class="row">
        <div class="col-sm-4 col-md-2">
            <h5>Mars Facts</h5>
            <div id="table-area" class="">
                    <table id="ufo-table" class="table table-striped">
                        {{data.mars_facts}}
                    </table>
                  </div>
         </div>   
    </div>
    <div class="row">
        <h5>Hemispheres</h5>
        {% for hemisphere in data.hemispheres %}
          <div class="col-md-6">
            <div class="thumbnail" >
                <img src="{{hemispheres.img_url}}" width="200" height="232" alt="..." class="img-main">
            </div>
          </div>
          {% endfor %}
  </div>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="assets/css/styles.css" media="screen">
  <script src="mission_to_mars.py"></script>
</body>

</html>
